.wrapper {
  margin: 15px 0;
  background-color: var(--color-focus);
  padding: 1rem;
  font-weight: 500;
  color: var(--main-color);
  border-radius: 8px;
}

.input {
  display: block;
  margin-top: 5px;
  height: 32px;
}
