.form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  border: 1px solid currentColor;
  border-radius: 5px;
}

.input {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 32px;
}

.error {
  color: var(--color-red);
  font-weight: 500;
}
